@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,1000;1,800&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px auto;
    max-width: 1440px;
    /* border: 2px solid green; */
    font-family: 'Mulish', sans-serif;
}

.main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo-tittle span {
    color: #FF5400;
    font-size: 32px;
    font-weight: 800;

}

.logo-tittle h2 {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
}

.btn-primary {
    width: 160px;
    height: 50px;
    border-radius: 8px;
    background: #FF5400;
    border: 0px;
    padding: 14px 30px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;


}



/* header */
.nav-section{
    margin: 0px auto;
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-icon{

}

 .nav-item{
    margin-top: 25px;
 }   
    


.nav-item>ul li{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    margin-right: 15px;

    color:  #424247);
text-align: center;
font-size: 18px;
font-weight: 400;

}
#list-s{
    color: #FF5400;

}


/* bannner */

.banner-section {
    margin: 20px auto;
    width: 1200px;
    height: 500px;
    background: linear-gradient(#131318, #13131800), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-clip: border-box;
    border-radius: 16px;



}

.banner-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 106px 185px;


}

.banner-container h1 {
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-weight: 800;
    padding-bottom: 30px;
}

.banner-container p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.banner-input {
    display: flex;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 100px;
    padding: 16px;
    gap: 23px;
}

.banner-input input {
    width: 174px;
    height: 52px;
    border: 0px;
    padding: 16px 80px 16px 16px;
    border-radius: 8px;
    background: #FFF;
}
.banner-input button{
    width: 174px;
height: 52px;
border: 0px;
border-radius: 8px;
background: #FF5400;

color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 700;

}

/* main */
/* popular section */
.popular-container {
    max-width: 1200px;
    margin: 100px auto;
    /* border: 2px solid red; */
    display: flex;
    gap: 50px;
}

.popular-info {
    width: 60%;
    padding: 5px;

}

.popular-info h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.popular-info p,
ul>li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;

}

.popular-info ul {
    padding-left: 25px;
    margin-bottom: 24px;
}


.popular-img img {
    width: 100%;
}



/* destination section */
.destination{
    max-width: 1200px;
    margin: 100px auto;


}
.destination h2 {
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-bottom: 24px;
}
.destination p{
    color: rgba(19, 19, 24, 0.70);
text-align: center;

font-size: 16px;
font-weight: 400;
line-height: 26px; 
}
.destination-box{
    margin-top: 46px;
    gap: 30px;
}

.destination-box img{
    width: 100%;
}
.box-child-1 , .box-child-2, .box-child-3{
    display: flex;
    gap: 10px;
}
.kashmir{
    padding-left: 10px;
}

/* choose section */
.choose h2{
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-bottom: 25px;

}
.choose p{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
margin-bottom: 40px;
}

.choose-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card-1, .card-2, .card-3{
    width: 573px;
height: 284px;


border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);

padding: 35px;
}

.card-1 img, .card-2 img, .card-3 img{
    margin-bottom: 10px;
}
.card-1 h3, .card-2 h3, .card-3 h3{

    margin-top: 5px;
    margin-bottom: 5px;
}
.card-1 p, .card-2 p, .card-3 p{
    text-align: left;
}

/* newsletter section */

.newsletter-section {
    max-width: 1200px;
    margin: 100px auto;
    /* border: 2px solid red; */
    display: flex;
    gap: 24px;

}

.newsletter-content {
    width: 40%;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.newsletter-content>h2 {
    margin-bottom: 10px;
    color: #131318;
    font-size: 28px;
    font-weight: 800;
}

.newsletter-content p {

    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.newsletter-content hr {
    background: rgba(19, 19, 24, 0.10);
    margin-top: 20px;
    margin-bottom: 20px;
}

.newsletter-content input {
    margin-bottom: 16px;
    width: 393px;
    height: 52px;
    border: 0px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 16px 250px 16px 20px;
}

.newsletter-content .button-long {
    width: 393px;
    height: 52px;
    border: 0px;
    border-radius: 8px;
    background: #FF5400;
    padding: 10px 145px;

    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.newsletter-img {
    position: relative;

}

.newsletter-img img {
    width: 100%;
}

.discount {
    position: absolute;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    padding: 20px;
    right: 22px;
    bottom: 60px;

}

.discount p {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.discount h3 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}



/* footer */
footer {
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
    padding: 110px 330px;
}

#last {
    text-align: center;
}

hr {
    margin: 50px auto;
}

.footer-container {
    max-width: 769px;
    margin: 0px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-footer img {
    width: 40px;
    height: 46.673px;

}

.content-footer p {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 35px;
}

.icon-div {
    text-align: center;
}

.icon-div i {
    margin-right: 25px;
}

/* media query */
@media screen and (max-width:600px) {
    footer {
        /* footer */
        padding: 35px 20px;


    }

    /* popular */
    .popular-container {

        flex-direction: column;
        padding: 20px;

    }

    .popular-info {
        width: 100%;
    }

    /* newsletter */
    .newsletter-section {
        flex-direction: column;
        padding: 20px;


    }

    .newsletter-content {
        width: 100%;
        padding: 10px;
    }

    .newsletter-content input {
        width: 100%;
    }

    .newsletter-content .button-long {
        width: 100%;
    }

    .newsletter-img {
        width: 100%;
        padding: 10px;
    }

    .newsletter-img img {
        width: 100%;
    }

    .banner-input{
        flex-direction: column;
    }
    .banner-section {
       width: 100%;
       height: 1200px;
     }
     .banner-container{
        width: 100%;
        height: 100%;
        
     }

     .destination{
        width: 100%;
        padding:15px;
     }

     .box-child-1 , .box-child-2, .box-child-3{
        flex-direction: column;
        gap: 10px;
    }

      
      .nav-section{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 400px;
      }  
    .banner-section{
        display: block;
    }
    
}